<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About PyBlot Weather API</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/contact-us/">Contact Us</a>
        <a href="/store/">Store</a>
    </nav>
    <h1>About</h1>
    <h2>This is our webpage</h2>
    <p>Hello, this is our first webpage.</p>
    <img src="templates/cat.png" style="width:500px" alt="cat"> 
    <br>
    <br>
    <a href="https://google.com">Google Page</a>
</body>
</html>